.woy-notice {
  z-index: 99999999;
  position: fixed;
  right: 20px;
  top: 20px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box !important;
  background: #ffffff;
  opacity: 0.7;
  transition: opacity 1s;
}
.woy-notice * {
  box-sizing: border-box !important;
  font-family: arial, sans-serif !important;
}
.woy-notice:hover {
  opacity: 1;
}
.woy-notice .message {
  padding: 6px 10px;
  font-size: 12px;
  background: #cc181e;
  color: #ffffff;
  font-weight: bold;
}
.woy-notice .message .close {
  float: right;
  cursor: pointer;
  color: #ffffff;
}
.woy-notice .message .close:hover {
  color: rgba(255, 255, 255, 0.7);
}
.woy-notice ul.video-list {
  border: 1px solid #f1f1f1;
  border-top: none;
  height: 110px;
}
.woy-notice ul.video-list li {
  height: 100px;
  width: 400px;
  display: none;
  position: relative;
}
.woy-notice ul.video-list li:first-child {
  display: block;
  padding-top: 5px;
  height: 105px;
}
.woy-notice ul.video-list li:last-child {
  padding-bottom: 5px;
}
.woy-notice ul.video-list li img {
  height: 90px;
  width: 120px;
  position: absolute;
  margin: 5px 10px;
}
.woy-notice ul.video-list li .text {
  margin: 0 20px 5px 140px;
  overflow: hidden;
  height: 90px;
}
.woy-notice ul.video-list li .title {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  font-weight: bold;
}
.woy-notice ul.video-list li .description {
  font-size: 11px;
  color: #767676;
  margin-top: 5px;
  line-height: 16px;
  text-overflow: ellipsis;
}
.woy-notice ul.video-list li a {
  height: 110px;
  width: 400px;
  display: block;
  text-decoration: none !important;
  position: relative;
}
.woy-notice ul.video-list li a:hover {
  text-decoration: none !important;
}
.woy-notice ul.video-list li a:hover .title {
  color: #167AC6;
}
.woy-notice ul.video-list li a:hover .description {
  color: #111111;
}
.woy-notice.more ul.video-list {
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.woy-notice.more ul.video-list li {
  display: block;
}
.woy-notice .more-video {
  background: #f1f1f1;
  color: #767676;
  text-align: center;
  width: 400px;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: -1px 0 0 0;
}
.woy-notice .more-video:hover {
  background: #767676;
  color: #ffffff;
}
